src/files/MCP_HOST.n8n.json
{
  "name": "MCP Host",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('MCP Host - Telegram').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -520,
        -140
      ],
      "id": "faeb8e98-5562-4b15-ba67-f17eb3f88374",
      "name": "Telegram Get File",
      "webhookId": "076f0443-c6cd-4324-a58f-49524dc15683",
      "credentials": {
        "telegramApi": {
          "id": "KFO1136nlORXNVub",
          "name": "Telegram Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -240,
        -140
      ],
      "id": "8ab4bb36-da60-4883-aa6c-374513a9236c",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "L5UoHZfkBt6nb3Ad",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -520,
        -400
      ],
      "id": "eaa421a4-5a8a-49f3-946d-e3d6c54ec7ae",
      "name": "MCP Host - Telegram",
      "webhookId": "1f60a9fc-fa58-4c75-8496-4d304a3cd38f",
      "credentials": {
        "telegramApi": {
          "id": "KFO1136nlORXNVub",
          "name": "Telegram Account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('MCP Host - Telegram').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "replyMarkup": "=",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        540,
        -260
      ],
      "id": "85bdbb72-526f-4fa6-89f1-19878f306332",
      "name": "Telegram Reply",
      "webhookId": "4a0960d3-f227-415a-8025-785109ea3fcb",
      "credentials": {
        "telegramApi": {
          "id": "KFO1136nlORXNVub",
          "name": "Telegram Account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zkDz6xJ0WWG5xSyr",
          "mode": "list",
          "cachedResultName": "MCP Client"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        280,
        -260
      ],
      "id": "2e7b6ce3-bb59-46aa-8cdf-78175bfcbee1",
      "name": "MCP Host - Sub-Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ce4c2eb-9554-4b0b-9687-3ed836f350c5",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -400
      ],
      "id": "bc068b8c-bcf9-4b2f-b59e-d6c6338a4b41",
      "name": "Is Chat"
    },
    {
      "parameters": {
        "content": "## MCP Host - Telegram",
        "height": 560,
        "width": 1420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        -480
      ],
      "typeVersion": 1,
      "id": "80a493b2-cf17-4323-b8fb-1b92e2fffc9a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  message: {\n    text: $input.first().json?.message?.text ?? $input.first().json?.text,\n    chat: {\n      id: $('MCP Host - Telegram').first().json.message.chat.id\n    }\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        -260
      ],
      "id": "ab1b16a7-d2cf-4c27-9d0e-5b4b62a80c28",
      "name": "Input Transformer1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Get File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Input Transformer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Host - Telegram": {
      "main": [
        [
          {
            "node": "Is Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Reply": {
      "main": [
        []
      ]
    },
    "MCP Host - Sub-Workflow": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Chat": {
      "main": [
        [
          {
            "node": "Input Transformer1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Get File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Transformer1": {
      "main": [
        [
          {
            "node": "MCP Host - Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "815ce29a-6173-406c-86ce-e49cdc3a2512",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8504ad3bf541c5d16e431f168070b21dcbf61af82ea7bee0c2d833e23192d019"
  },
  "id": "HYTqZgm22qZeay50",
  "tags": []
}